# --- Database Configuration ---
# Format: postgresql://[user]:[password]@[host]:[port]/[db_name]
# Jika menggunakan Docker, host adalah 'db' (nama service di docker-compose)
# Jika running lokal (tanpa docker), host biasanya 'localhost'
DATABASE_URL=postgresql://postubak:postubak123@db:5432/ubak_db

# --- Security ---
# Generate secret key yang kuat menggunakan: openssl rand -hex 32
SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256

# --- JWT Configuration ---
# Masa berlaku token dalam menit (Default: 30 menit)
ACCESS_TOKEN_EXPIRE_MINUTES=30
